/.idea
*.iml
/target
*.class
.*.swp
metamodel.zenta.bak
metamodel.compiled
metamodel.consistency.stderr
metamodel.consistencycheck
metamodel.docbook
metamodel.html
metamodel.objlist
metamodel.objlist.html
metamodel.pdf
metamodel.pics/
metamodel.rich
metamodel.richescape
metamodel.tabled.docbook
metamodel.tabled.html
metamodel.interfaces
metamodel.stubs
metamodel.testdata
/metamodel/
issuesReport.json
zentaworkaround
/build/
/inputs
metamodel.interfaces
metamodel.stubs
metamodel.testdata
